Reject requests that uses SHA-1.

**Description**

* RFC 5816 suggests an update to RFC 3161 by utilizing ESSCertIDv2 for signer certificate, beyond SHA-1:

> The time-stamping protocol defined in [RFC 3161](https://www.rfc-editor.org/rfc/rfc3161) [[RFC3161](https://www.rfc-editor.org/rfc/rfc3161)] requires
   that the Cryptographic Message Syntax (CMS) SignedData [[RFC5652](https://www.rfc-editor.org/rfc/rfc5652)],
   used to apply a digital signature on the time-stamp token, include a
   signed attribute that identifies the signer's certificate.
>
> This identifier only allows SHA-1 [[SHA1](https://www.rfc-editor.org/rfc/rfc5816#ref-SHA1)] to be used as the hash
   algorithm to generate the identifier value.
>
>   The mechanism used in [[RFC3161](https://www.rfc-editor.org/rfc/rfc3161)] employed ESSCertID from [RFC 2634](https://www.rfc-editor.org/rfc/rfc2634)
   [[ESS](https://www.rfc-editor.org/rfc/rfc5816#ref-ESS)].  [RFC 5035](https://www.rfc-editor.org/rfc/rfc5035) [[ESSV2](https://www.rfc-editor.org/rfc/rfc5816#ref-ESSV2)] updated ESSCertID with ESSCertIDv2 to allow
   the use of any hash algorithm.

In general, SHA-1 fell out of favor for security utilizations and recently was officially [denounced by NIST](https://www.nist.gov/news-events/news/2022/12/nist-retires-sha-1-cryptographic-algorithm).

**Suggestion**

- Support ESSCertIDv2 / RFC 5816
- Implement SHA-2/SHA-3 either as a default of a configurable opt-in.

**Related discussion**
- #2 

Hey @moshe-apiiro, we should already. We generate the signed timestamp using the ESSCertIDV2 struct (https://github.com/digitorus/timestamp/blob/master/signing_cert_v2_struct.go#L18-L22), and the request you send to the timestamp authority should specify the hash algorithm you are using by OID (we support SHA-1, 256, 384, and 512, see [here](https://github.com/digitorus/timestamp/blob/0faba6f30e54a417f538e00fe0876863b769f4e3/borrowed.go#L11-L16)).

This might just be a documentation issue. Let me know if you saw any instances of where we didn't support RFC 5816. We should also probably reject requests that use SHA-1, which we don't currently.

Seems like I missed that, thank you @haydentherapper. Couldn't find it myself.

To your last point - yes, probably should **rejecting SHA-1**.